<template name="add">
  <form>
    <fieldset class="form-group">
      <label for="formGroupExampleInput">Описание</label>
      <input type="text" class="form-control js-text1" id="formGroupExampleInput" placeholder="Example input">
    </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2">Содержание</label>
      <input type="text" class="form-control js-text2" id="formGroupExampleInput2" placeholder="Another input">
    </fieldset>
  </form>
<button type="button" class="btn btn-success js-submit">Добавить</button>
</template>
